@import '../../../App.scss';

.renter-textfield {
    margin-left: 10px;
}
.house-submit-container {
    display: flex !important;
	flex-direction: row !important;
	flex-wrap: nowrap !important;
	justify-content: space-between !important;
	align-items: flex-end !important;
}

.add-renter-button {
    margin-right: 10px !important;
    margin-bottom: 10px !important;
    background-color: $theme-500 !important;
}
