@import '../../../App.scss';

.contractor-textfield {
    margin-left: 10px;
}

.add-contractor-button {
    margin-right: 10px !important;
    margin-bottom: 10px !important;
    background-color: $theme-500 !important;

}