@import '../../App.scss';

// .scroll-container-parent{
//   width: 50%;
//   background-color: yellow;
// }

.menu-item {
    // padding: 0 40px;
    margin: 5px 10px;
    user-select: none;
    cursor: pointer;
    border: none;
  }
  .menu-item-wrapper.active {
    border: 1px blue solid;
  }
  .menu-item.active {
    border: 1px green solid;
  }
  .scroll-menu-arrow {
    padding: 20px;
    cursor: pointer;
  }
.arrow:before {
    font-size: 100%;
    position: relative;
    /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
    content: "";
    display: inline-block;
    /* By using an em scale, the arrows will size with the font */
    width: .8em;
    height: .8em;
}
.arrow:hover {
  color: $theme-600; 
}
.arrow:hover:before {
  border-color: $theme-600; 
}
.next:before {
  border-right: 0.2em solid $theme-800;
  border-top: 0.2em solid $theme-800;
  transform: rotate(45deg);
  margin-right: .5em;
  float: left;
}
.prev:before {
  border-left: 0.2em solid $theme-800;
  border-top: 0.2em solid $theme-800;
  transform: rotate(315deg);
  margin-left: 0em;
}
.next:active {
  margin-left: .3em;
}
.prev:active {
  margin-left: -.3em;
}
.arrow-container {
  width: 10px;

}