@import '../../../App.scss';

.table-container {
    margin: 0 auto;
    margin-top: 20px;
}

.display-tasks-table {
    min-width: 650px;
    // from default
}

.urgent-true {
    background-color: $urgent;
}