@import '../../App.scss';

.scroll-container {
  margin-top: 10px;
  // background-color: red;
}

.modules-container {
  margin-top:10px;
  margin-left:20px;
  max-width: 1500px;
}

// START SELECTED HOUSE CARD STYLING
.selected-house-card-content {
  // background-color: red;
  height: 100%;
  width: 100%;
  display: flex;
}
  .avatar-upload-container {
    // background-color: green;
    width: 200px;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .selected-house-card-body {
    // background-color: blue;
    margin-left: 15px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
  }
    .avatar-title-container {
      // background-color: orange;
      text-align: center;
    }
    .status-address-container {
      // background-color: pink;
      display: flex;
      justify-content: space-around;
      margin-top: 10px;
    }
    .selected-house-tasks {
      // background-color: grey;
      margin-top: 10px;
      flex-grow: 1;
      overflow: auto;
    }
    .update-house-button-container {
      // background-color: black;
      margin-top: 10px;
      display: flex;
      justify-content: flex-end;
    }
    .house-update-buttons {
      background-color: $theme-500 !important;
    }
// END SELECTED HOUSE CARD STYLING




// .scroller-display-container {
//   // background-color: red;
//   // width: 98%;
// }
// .selected-grid-item {
//   width: 25%;
//   padding-left: 10px;
//   padding-top: 10px;
//   box-sizing: border-box;
// }
// .scroller-grid-item {
//   // background-color: orange;
//   // width: 75%;
// }
