@import '../../App.scss';

// .select-textfield {
//     color: red !important;
//     font-size: 14px !important;
//     // background-color: red !important;
// }

.MuiFormLabel-root {
    color: #aaaaaa !important;
    font-size: 14px !important;
    font-weight: "400" !important;
    line-height: "1.42857" !important;
    letter-spacing: "unset" !important;
    // background-color: yellow !important;
}