@import '../../../App.scss';

.add-task-form {
    display: flex;
    justify-content: space-between;
    // background-color: blue;
    max-width: 900px;
}

.input-mini-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // background-color: red;
    height: 110px;
}