@import '../../../App.scss';

.table-container {
    margin: 0 auto;
    margin-top: 20px;
}

.display-tasks-table {
    min-width: 650px;
    // from default
}

// .renter-email-button {
//     color: $theme-500 !important;
//     // width: 10px !important;
// }
.table-typography-name {
    max-width: 200px;
}
.table-typography-email {
    max-width: 200px;
}
.table-typography-phone {
    max-width: 150px;
}
.table-email-container {
    display: flex;
}
.header-email-container {
    display: flex;
    // background-color: red;
}
.action-button {
    width: 10px;
}