@import '../../../App.scss';

.table-container {
    margin: 0 auto;
    margin-top: 20px;
}

.display-tasks-table {
    min-width: 650px;
    // from default
}

.renter-email-button {
    color: $theme-500 !important;
    // width: 10px !important;
}