@import '../../../App.scss';

.table-container {
    margin: 0 auto;
    margin-top: 20px;
}

.display-tasks-table {
    min-width: 650px;
    // from default
}

// .edit-icon {
//     color: $theme-500 !important;
//     // background-color: $theme-500;
// }

.table-typography-address {
    max-width: 200px;
}


// Styled in DisplayRenters.scss
// .table-email-container {
// }