.App {
  // height: 100vh;
  max-width: 100vw;
  // background-color: red;
}
// Variables
$font-color: black;
$background-color: #f5f7fb;
$primary-color: #f6d743;
$light-highlight:#649d66;
$dark-highlight: #06623b;
$urgent: lightpink;
$selected: #f6d743;

// GLOBAL STYLING
a {
  color: inherit;
}
A:hover {
  color: inherit;
}


// SWEETALERTS
