.App {
  height: 100vh;
  width: 100vw;
}
// Variables
$font-color: black;
$background-color: #f6f578;
$primary-color: #f6d743;
$light-highlight:#649d66;
$dark-highlight: #06623b;
$urgent: lightpink;



// Sweetalerts
