.App {
  // height: 100vh;
  max-width: 100vw;
  // background-color: red;
}
// Variables
$font-color: black;
$background-color: #f5f7fb;
$primary-color: #f6d743;
$light-highlight:#649d66;
$dark-highlight: #06623b;
$urgent: #ffcdd2;
$selected: #f6d743;
$theme-300: #81c784;
$theme-400: #81c784; // button hover
$theme-500: #4caf50; // button
$theme-600: #43a047;
$theme-700: #388e3c; // left side gradient
$theme-800: #2e7d32;
$theme-900: #1b5e20; // header, right side gradient 
// GLOBAL STYLING
a {
  color: inherit;
  text-decoration: none !important;
  
}
A:hover {
  color: inherit;
  text-decoration: none !important;
}
.react-router-link {
  text-decoration: none !important;
}

// SWEETALERTS
