@import '../../../App.scss';

.transaction-card {
    padding: 10px;
}
.avatar-address-container {
    // background-color: red;
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    // margin-top: 10px;
}
.transaction-card-text-container{
    width: 100%;
}
.address-title {
    // background-color: green;
    display: flex;
    justify-content: center;
    width: 100%;
}
.transaction-form {
    // background-color: lightblue;
}
// .transaction-datepicker {
//     width: 100px;
// }
.transaction-datepicker-container{
    // background-color: red;
    width: 100%;
    display: flex;
    // justify-content: center;
    justify-content: space-around;
}
.transaction-price-input {
    width: 90px;
}
.transaction-amount-and-button {
    // background-color: orange;
    display: flex;
    // align-items: space-between;
    justify-content: space-between;
}

.paid {
    border: 2px solid $theme-400;
    color: $theme-400;
    border-radius: 8%;
    text-align: center;
    width: 100px;
}
.unpaid {
    border: 2px solid red;
    color: red;
    border-radius: 8%;
    text-align: center;
    width: 100px;
}
.partial {
    border: 2px solid #fbc02d;
    color: #fbc02d;
    border-radius: 8%;
    text-align: center;
    width: 100px;
}