@import '../../App.scss';


.auth-button {
    background-color: $theme-500 !important;
    margin-top: 25px !important;
    margin-bottom: 15px !important;
}

.logo-prop {
    // background-color: red;
    font-weight: 400 !important;
    font-size: 7rem !important;
}
.logo-aid {
    // background-color: blue;
    margin-bottom: 360px !important;
    font-size: 10.5rem !important;
}
// .logo-container {
//     background-color: red !important;
//     color: red !important;
// }

// font-size: 6rem;
//     font-family: "Roboto", "Helvetica", "Arial", sans-serif;
//     font-weight: 300;
//     line-height: 1.167;
//     letter-spacing: -0.01562em;